/* your styles go here */
.none{display: none;}
section {padding: 40px 0;}
section header {margin-bottom: 35px;}
.post {margin-bottom: 10px;}
.padding-small {padding: 40px 0 !important;}

.addToCart {position: fixed;right: 0;top: 130px;z-index: 2000000091!important;background: #d0e39c;
	border-radius: 6px;}
.AddToCartWidth .cartList:before, .addToCart {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.show {display: block!important;}
.addToCart .cartList {margin: 0;color: #fff;padding: 12px 16px;background: #154029;text-align: center;
    list-style: none;border-radius: 10px 0 0;
}
#thumbnail-slider div.inner, .addToCart .cartList, .addToCart_item li, .addToCart_price, 
.bg, .blog-col-item .photo, .col-item .photo, .product-box img, .productbg, .total, 
.ui-selectmenu-text, .ui-spinner, .ui-spinner-button, nav ul {
    overflow: hidden;
}
.addToCart_item {margin: 0 0 10px;max-height: 250px;padding: 15px;overflow-y: scroll;width: 100%;}
.cartWidth .addToCart_price {border-radius: 0 0 0 10px;}
.addToCart_price {padding: 8px;background: #4f9b00;color: #fff;font-size: 18px;margin: 0;}
.addToCart_price, .blogSubscribe h3, .blog_categories_right, .category h3, .free, .ht-order, 
.product-box a.title {text-transform: uppercase;}
.addToCart.AddToCartWidth .cartList li {float: left;}
.addToCart.AddToCartWidth .cartList li:last-child {float: right;font-size: 12px;}
.AddToCartWidth {width: 300px;background: #f2f2f3;border-radius: 10px 0 0 10px;}
.addToCart_price li+li {float: right;}
.addToCart_price li {float: left;list-style: none;color: #fff;}
.addToCart_item li {border-bottom: 1px dotted #fff;margin-bottom: 5px;overflow: hidden;}
.total {padding-bottom: 5px;}
.addToCart_item li .total figure {width: 20%;float: left;}
.addToCart_item li .total figure img {width: 100%;border: 2px solid gray;}
.addToCart_item li .total .addToCartQuantityName {width: 10px;float: left;padding: 2px 5px;}
.addToCart_item li .total .addToCartProductName {width: 40%;float: left;padding: 2px 5px;}
.addToCart_item .addToCart_taka {cursor: pointer;float: right;padding: 10px 0;
	color: #515769;font-weight: 700;}
.addToCart_item li .total .addToCartProductName p {margin: 0;text-transform: capitalize;font-size: 15px;
	line-height: 18px;color: #3a3a3a;font-weight: 700;}
.total .addToCartProductName span {color: #515769;font-size: 10px;font-weight: 700;}
.order_now {background: #4e9b13;text-transform: uppercase;padding: 10px 15px;font-size: 18px;
	text-align: center;color: #fff;display: block;}
.order_now:hover {background: #71b63b;transition: all .5s;color: #fff;}
.AddToCartWidth .removeBtn {
    position: absolute;
    top: -6px;
    background: #4e9b13;
    left: -10px;
    padding: 5px 6px;
    margin: 0;
    border-radius: 50px;
    font: normal normal normal 15px/1 FontAwesome;
    content: "\f00d";
    font-size: 20px;
}
.addToCart_taka i {
    margin-left: 5px;
    font-size: 20px;
}
.addToCartShow, .addToCart_item{display: none;}


a:focus, a:hover {color: #ddd;text-decoration: none;}

.top-bar {padding: 5px 1rem;background: #154027;}
nav.navbar{padding: 0px 0px;}
.product.is-gray{background: #dee2e6;}
.product.is-gray a:hover{color: #086b1f;}
.product.is-gray .image{background: #fff;}
.img-responsive{display: block;max-width: 100%;height: auto;}
.navbar .navbar-nav{margin-right: 0 !important;}
section.hero .item {height: 400px;}
footer.main-footer .copyrights{background: #133c27;padding: 15px 0;}
footer.main-footer .main-block {background: #154029;color: #999;padding: 50px 0;}

.btn.wide, .wide.btn-template-outlined {padding-left: 20px;padding-right: 20px;}
.product .title > a{min-height: 35px;}
section.product-details .product-images .owl-carousel {background: #ffffff;}
footer.main-footer .services-block h6 a{color: #fff;}
section.categories .item{padding: 0px;}
section.categories .item .content{display: block;background: #ffffff;width: 100%;text-align: center;
    padding: 10px;opacity: 0.7;color: black;}
section.categories .item span{color: #000;}

.measurement-tag {border-radius: 10px;border: 1px solid #197500;display: inline-block;padding: 0 12px;
    background: green;font-weight: 700;color: #fff;margin-bottom: 5px;font-size: 12px;}
.p-info span {color: #b64500;padding: 0 7px;font-size: 18px!important;font-weight: 700;}
.addToCartDiscountPrice {border: 1px solid #197500;border-radius: 10px;margin: 0 5px;padding: 2px 10px;}

.p-info{font-size: 14px;line-height: 20px;margin: 0;font-weight: 400;color: #fff;margin-bottom: 5px;}

.add-to-cart:hover {transition: all .5s;color: #197500;}

.add-to-cart:hover {background: #d5be28;}
.add-to-cart {display: inline-block;margin: 0 auto;border: 1px solid #197500;height: 32px;padding-top: 3px;
    cursor: pointer;}
.awesome {color: #00391a;background: #d2dbd1;margin-top: -3px;padding: 7px 5px 7px;}
.add-to-cart>span {color: #197500;font-weight: 700;}
.cart_text {padding: 0 7px;color: #fff;}

.overlay {display: block;top: 0;height: 100%;display: none;background: rgba(0,0,0,.53);cursor: pointer;}
.overlay, a.btnshow {position: absolute;left: 0;width: 100%;}
.divoverlay {height: 100%;width: 100%;}
a.btnshow {display: block;bottom: 0;right: 0;height: 25px;background: #d5be28;text-align: center;
    border: 0;color: #fff;font-weight: 700;font-size: 12px;padding: 3px;text-decoration: none;
    line-height: 20px;margin-bottom: 0;
}
.addtocartshow.show {color: #fff;padding-top: 40%;font-weight: 500;text-align: center;display: block;}
.image:hover .overlay {display: block;}
.post .info {min-height: 85px;}
.product .title small {display: block;}
@media only screen and (max-width: 768px) and (min-width: 300px)  {
    .overlay{display:block;background:unset;}
    .addtocartshow.show{display:none!important;}
}


.product .image{padding: 10px;min-height: 200px;}
.post .thumbnail img {margin-left: 0px;height: unset;}
.post .thumbnail {min-width: 100%;max-width: 100%;max-height: 200px;height: 200px;overflow: hidden;
    position: relative;
}
.search-box {position: relative;}
.search-box .form-group{position: absolute;width: 50%;left: 25%;}
.search-box input{
    padding: 0 0 0 12px;
    width: 100%;
    height: 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    border: #fff;
    position: relative;
    top: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;}
.search-box button {margin-left: 0;
    background-color: #fff;
    font-size: 25px;
    width: 40px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    height: 40px;
    font-weight: 700;}

@media only screen and (max-width: 768px) and (min-width: 300px)  {
    .overlay{display:block;background:unset;}
    .addtocartshow.show{display:none!important;}
}